<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keychain-access-groups</key>
	<array>
		<string>HQ59H9US6W.com.initech.SSonApps</string>
		<string>HQ59H9US6W.com.initech.KeychainSuite</string>
		<string>HQ59H9US6W.com.ktb.KeychainSuite</string>
	</array>
</dict>
</plist>
