<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>depth1</key>
	<dict>
		<key>menu1</key>
		<array>
			<dict>
				<key>title</key>
				<string>계좌조회</string>
				<key>controller</key>
				<string>SHBAccountMenuListViewController</string>
				<key>needsLogin</key>
				<string>1</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>즉시이체/예금입금</string>
				<key>controller</key>
				<string>SHBAccountListViewController</string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>자동이체 등록</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string>1</string>
				<key>depth2key</key>
				<string>menu9</string>
			</dict>
			<dict>
				<key>title</key>
				<string>기타이체</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string>Y</string>
				<key>depth2key</key>
				<string>menu1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>이체결과조회</string>
				<key>controller</key>
				<string>SHBTransferResultListViewController</string>
				<key>needsLogin</key>
				<string>1</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>계좌관리</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string>Y</string>
				<key>depth2key</key>
				<string>menu2</string>
			</dict>
		</array>
		<key>menu2</key>
		<array>
			<dict>
				<key>title</key>
				<string>예금/적금 가입</string>
				<key>controller</key>
				<string>SHBNewProductListViewController</string>
				<key>needsLogin</key>
				<string>N</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>예금/적금 해지</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string>menu11</string>
			</dict>
			<dict>
				<key>title</key>
				<string>직장인 무방문 신용대출</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string>menu13</string>
			</dict>
			<dict>
				<key>title</key>
				<string>U드림 저축예금전환</string>
				<key>controller</key>
				<string>SHBUDreamInfoViewController</string>
				<key>needsLogin</key>
				<string>N</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>예적금 담보대출</string>
				<key>controller</key>
				<string>SHBLoanInfoViewController</string>
				<key>needsLogin</key>
				<string>N</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>schemeURL</key>
				<string>smartfundcenter://</string>
				<key>title</key>
				<string>스마트 펀드센터</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string>Y</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>영업점추천 스마트신규</string>
				<key>controller</key>
				<string>SHBSmartNewListViewController</string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>금융상품</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string>menu12</string>
			</dict>
		</array>
		<key>menu3</key>
		<array>
			<dict>
				<key>title</key>
				<string>펀드조회 입금출금</string>
				<key>controller</key>
				<string>SHBFundAccountListViewController</string>
				<key>needsLogin</key>
				<string>1</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>펀드가입</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string>1</string>
				<key>depth2key</key>
				<string>menu3</string>
			</dict>
			<dict>
				<key>schemeURL</key>
				<string>smartfundcenter://</string>
				<key>title</key>
				<string>스마트 펀드센터</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
		</array>
		<key>menu4</key>
		<array>
			<dict>
				<key>title</key>
				<string>대출조회 납입상환</string>
				<key>controller</key>
				<string>SHBLoanAccountListViewController</string>
				<key>needsLogin</key>
				<string>1</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>직장인 무방문 신용대출</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string>menu13</string>
			</dict>
			<dict>
				<key>title</key>
				<string>예적금 담보대출</string>
				<key>controller</key>
				<string>SHBLoanInfoViewController</string>
				<key>needsLogin</key>
				<string>N</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>예상 대출 한도 조회</string>
				<key>controller</key>
				<string>SHBLoanMyLimitInputViewController</string>
				<key>needsLogin</key>
				<string>N</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>약정업체 간편대출</string>
				<key>controller</key>
				<string>SHBSimpleLoanInfoViewController</string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
		</array>
		<key>menu5</key>
		<array>
			<dict>
				<key>title</key>
				<string>환율조회</string>
				<key>controller</key>
				<string>SHBExRateListViewController</string>
				<key>needsLogin</key>
				<string>N</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>외화골드 예금조회</string>
				<key>controller</key>
				<string>SHBForexGoldListViewController</string>
				<key>needsLogin</key>
				<string>1</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>외화환전 신청</string>
				<key>controller</key>
				<string>SHBForexRequestInfoViewController</string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>환전신청 내역조회</string>
				<key>controller</key>
				<string>SHBForexRequestListViewController</string>
				<key>needsLogin</key>
				<string>Y</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>자주쓰는 해외송금/조회</string>
				<key>controller</key>
				<string>SHBForexFavoritInfoViewController</string>
				<key>needsLogin</key>
				<string>Y</string>
				<key>depth2key</key>
				<string></string>
			</dict>
		</array>
		<key>menu6</key>
		<array>
			<dict>
				<key>title</key>
				<string>이용내역 조회</string>
				<key>controller</key>
				<string>SHBCardUseInputViewController</string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>이용대금 명세서 조회</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string>menu6</string>
			</dict>
			<dict>
				<key>title</key>
				<string>승인내역 조회</string>
				<key>controller</key>
				<string>SHBCardAcknowledgmentInputViewController</string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>결제내역 조회</string>
				<key>controller</key>
				<string>SHBCardPaymentInputViewController</string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>교통카드 내역조회</string>
				<key>controller</key>
				<string>SHBCardTrafficInputViewController</string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>포인트 조회</string>
				<key>controller</key>
				<string>SHBCardPointListViewController</string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>이용한도 조회</string>
				<key>controller</key>
				<string>SHBCardLimitInfoViewController</string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>현금서비스 이체</string>
				<key>controller</key>
				<string>SHBCardCashServiceViewController</string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>Smart 신한</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string>0</string>
				<key>depth2key</key>
				<string></string>
				<key>schemeURL</key>
				<string>smartshinhan://</string>
			</dict>
		</array>
		<key>menu7</key>
		<array>
			<dict>
				<key>title</key>
				<string>월말잔액보기</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
				<key>schemeURL</key>
				<string>asset://M5002</string>
			</dict>
			<dict>
				<key>title</key>
				<string>머니캘린더</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
				<key>schemeURL</key>
				<string>asset://M6001</string>
			</dict>
			<dict>
				<key>title</key>
				<string>가계부쓰기</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
				<key>schemeURL</key>
				<string>asset://M3002</string>
			</dict>
			<dict>
				<key>title</key>
				<string>펀드 포트폴리오</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
				<key>schemeURL</key>
				<string>smartfundcenter://F7000</string>
			</dict>
		</array>
		<key>menu8</key>
		<array>
			<dict>
				<key>title</key>
				<string>모바일상품권 구매</string>
				<key>controller</key>
				<string>SHBGitfInfoViewController</string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>모바일상품권 구매취소</string>
				<key>controller</key>
				<string>SHBGiftCancelInfoViewController</string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
		</array>
		<key>menu9</key>
		<array>
			<dict>
				<key>title</key>
				<string>인증서 발급/재발급</string>
				<key>controller</key>
				<string>SHBCertIssueStep1ViewController</string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>인증서 간편복사</string>
				<key>controller</key>
				<string>SHBCertCopyQRViewController</string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>PC→스마트폰 인증서복사</string>
				<key>controller</key>
				<string>SHBCertMovePhoneViewController</string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>스마트폰 →PC 인증서복사</string>
				<key>controller</key>
				<string>SHBCertManageViewController</string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>신한금융그룹앱간인증서복사</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string>menu7</string>
			</dict>
			<dict>
				<key>title</key>
				<string>인증서 갱신</string>
				<key>controller</key>
				<string>SHBCertRenewStep1ViewController</string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>인증서 창구 발급/재발급</string>
				<key>controller</key>
				<string>SHBSpotCertIssueStep1ViewController</string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>인증서 폐기</string>
				<key>controller</key>
				<string>SHBCertExpireStep1ViewController</string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>인증서 관리</string>
				<key>controller</key>
				<string>SHBCertManageViewController</string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>인증서 안내</string>
				<key>controller</key>
				<string>SHBCertIssueViewController</string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
			</dict>
		</array>
		<key>menu10</key>
		<array>
			<dict>
				<key>title</key>
				<string>퇴직연금 적립금 조회</string>
				<key>controller</key>
				<string>SHBRetirementReserveListViewController</string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>운용상품 현황조회</string>
				<key>controller</key>
				<string>SHBProductStateListViewController</string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>가입자 부담금 입금</string>
				<key>controller</key>
				<string>SHBSurchargeListViewController</string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>퇴직연금 입금내역 조회</string>
				<key>controller</key>
				<string>SHBRetirementReceipListViewController</string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>이메일,SMS통지/정보변경</string>
				<key>controller</key>
				<string>SHBESNotiListViewController</string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>퇴직연금 콜센터</string>
				<key>controller</key>
				<string>SHBRetirementCallCenterViewController</string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
			</dict>
		</array>
		<key>menu11</key>
		<array>
			<dict>
				<key>title</key>
				<string>지로조회 납부</string>
				<key>controller</key>
				<string>SHBGiroTaxInputViewController</string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>지로입력 납부</string>
				<key>controller</key>
				<string>SHBGiroTaxInputNoViewController</string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>지로 납부내역 조회/취소</string>
				<key>controller</key>
				<string>SHBGiroTaxPaymentListViewController</string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>지방세 납부</string>
				<key>controller</key>
				<string>SHBDistricTaxMenuViewController</string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>지방세 납부내역 조회</string>
				<key>controller</key>
				<string>SHBDistricTaxPaymentMenuViewController</string>
				<key>needsLogin</key>
				<string>1</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>QR코드 납부</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string>menu14</string>
			</dict>
		</array>
		<key>menu12</key>
		<array>
			<dict>
				<key>title</key>
				<string>지식서재</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
				<key>webAddress</key>
				<string>http://dev-m.shinhan.com/pages/financialInfo/book/book_main.jsp</string>
			</dict>
		</array>
		<key>menu13</key>
		<array>
			<dict>
				<key>title</key>
				<string>주요지수</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
				<key>schemeURL</key>
				<string>smartfundcenter://F5000</string>
			</dict>
			<dict>
				<key>title</key>
				<string>펀드뉴스</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
				<key>schemeURL</key>
				<string>smartfundcenter://F5001</string>
			</dict>
			<dict>
				<key>title</key>
				<string>전문가 오피니언</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
				<key>schemeURL</key>
				<string>smartfundcenter://F5007</string>
			</dict>
			<dict>
				<key>title</key>
				<string>금융시장동향</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
				<key>schemeURL</key>
				<string>smartfundcenter://F5003</string>
			</dict>
			<dict>
				<key>title</key>
				<string>신한금융투자 리서치</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
				<key>schemeURL</key>
				<string>smartfundcenter://F5004</string>
			</dict>
			<dict>
				<key>title</key>
				<string>환율전망</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
				<key>schemeURL</key>
				<string>smartfundcenter://F5005</string>
			</dict>
			<dict>
				<key>title</key>
				<string>금가격전망</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
				<key>schemeURL</key>
				<string>smartfundcenter://F5006</string>
			</dict>
			<dict>
				<key>title</key>
				<string>월간신한리뷰</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
				<key>webAddress</key>
				<string>http://dev-m.shinhan.com/pages/financialInfo/brief/brief_sub_list.jsp?M_CODE=50&amp;P_CODE=23</string>
			</dict>
		</array>
		<key>menu14</key>
		<array>
			<dict>
				<key>title</key>
				<string>My Tops Club</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
				<key>webAddress</key>
				<string>http://dev-m.shinhan.com/pages/financialInfo/mtops/mtops_mytops.jsp</string>
			</dict>
			<dict>
				<key>title</key>
				<string>서비스 가상체험</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
				<key>webAddress</key>
				<string>http://dev-m.shinhan.com/pages/financialInfo/mtops/mtops_service.jsp</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Tops 추천 금융상품</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
				<key>webAddress</key>
				<string>http://dev-m.shinhan.com/pages/financialInfo/mtops/mtops_prod.jsp</string>
			</dict>
			<dict>
				<key>title</key>
				<string>프리미엄 쿠폰</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
				<key>schemeURL</key>
				<string>shctopsclub://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Tops 이벤트</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
				<key>webAddress</key>
				<string>http://dev-m.shinhan.com/pages/financialInfo/mtops/mtops_event.jsp</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Tops Club 안내</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
				<key>webAddress</key>
				<string>http://dev-m.shinhan.com/pages/financialInfo/mtops/mtops_info.jsp</string>
			</dict>
		</array>
		<key>menu15</key>
		<array>
			<dict>
				<key>title</key>
				<string>영업점/ATM 검색</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string>menu8</string>
			</dict>
			<dict>
				<key>title</key>
				<string>대기고객조회</string>
				<key>controller</key>
				<string>SHBFindBranchesLocationViewController</string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>ATM 긴급출금등록</string>
				<key>controller</key>
				<string>SHBUrgencyInputInfoViewController</string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>ATM 긴급출금 조회/취소</string>
				<key>controller</key>
				<string>SHBUrgencyInputAccountViewController</string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
		</array>
		<key>menu16</key>
		<array>
			<dict>
				<key>title</key>
				<string>이용안내</string>
				<key>controller</key>
				<string>SHBUserInfoViewController</string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>전화상담/문의</string>
				<key>controller</key>
				<string>SHBCallCenterListViewController</string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>수표조회</string>
				<key>controller</key>
				<string>SHBCheckInputViewController</string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>사고신고</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string>menu4</string>
			</dict>
			<dict>
				<key>title</key>
				<string>사고신고 조회</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string>menu5</string>
			</dict>
			<dict>
				<key>title</key>
				<string>고객정보 변경</string>
				<key>controller</key>
				<string>SHBUserInfoEditSIDViewController</string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>이용자 비밀번호 등록</string>
				<key>controller</key>
				<string>SHBUserPWRegViewController</string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>OTP 시간보정</string>
				<key>controller</key>
				<string>SHBOTPReplaceInputViewController</string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>서비스 해지</string>
				<key>controller</key>
				<string>SHBCloseServiceViewController</string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>이체한도감액</string>
				<key>controller</key>
				<string>SHBTransferLimitViewController</string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>본인정보 이용제공 조회시스템</string>
				<key>controller</key>
				<string>SHBUserInfoUseSupplyViewController</string>
				<key>needsLogin</key>
				<string>2</string>
				<key>depth2key</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>depth2</key>
	<dict>
		<key>menu1</key>
		<array>
			<dict>
				<key>title</key>
				<string>예약이체 등록</string>
				<key>controller</key>
				<string>SHBReservationTransferInfoInputViewController</string>
				<key>needsLogin</key>
				<string>2</string>
			</dict>
			<dict>
				<key>title</key>
				<string>예약이체 조회/취소</string>
				<key>controller</key>
				<string>SHBReservRegListViewController</string>
				<key>needsLogin</key>
				<string>2</string>
			</dict>
			<dict>
				<key>title</key>
				<string>예약이체 결과조회</string>
				<key>controller</key>
				<string>SHBReservationTransferResultListViewController</string>
				<key>needsLogin</key>
				<string>1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>경조금이체</string>
				<key>controller</key>
				<string>SHBCelebrationTransferInfoInputViewController</string>
				<key>needsLogin</key>
				<string>2</string>
			</dict>
			<dict>
				<key>title</key>
				<string>스마트 이체 조회/등록/변경</string>
				<key>controller</key>
				<string>SHBSmartTransferAddInputViewController</string>
				<key>needsLogin</key>
				<string>2</string>
			</dict>
			<dict>
				<key>title</key>
				<string>급여이체</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>schemeURL</key>
				<string>iphoneSbizbank://</string>
			</dict>
		</array>
		<key>menu2</key>
		<array>
			<dict>
				<key>title</key>
				<string>자주쓰는 입금계좌</string>
				<key>controller</key>
				<string>SHBFreqAccountViewController</string>
				<key>needsLogin</key>
				<string>1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>스피드이체 관리</string>
				<key>controller</key>
				<string>SHBFreqTransferListViewController</string>
				<key>needsLogin</key>
				<string>1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>예금별명 관리</string>
				<key>controller</key>
				<string>SHBAccountNickNameListViewController</string>
				<key>needsLogin</key>
				<string>1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>계좌순서변경</string>
				<key>controller</key>
				<string>SHBAccountOrderChangeViewController</string>
				<key>needsLogin</key>
				<string>1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>약관 ∙ 상품설명서</string>
				<key>controller</key>
				<string>SHBProductMenualListViewController</string>
				<key>needsLogin</key>
				<string>1</string>
			</dict>
		</array>
		<key>menu3</key>
		<array>
			<dict>
				<key>schemeURL</key>
				<string>smartfundcenter://</string>
				<key>title</key>
				<string>Best펀드</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string>Y</string>
			</dict>
			<dict>
				<key>schemeURL</key>
				<string>smartfundcenter://</string>
				<key>title</key>
				<string>펀드검색</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string>Y</string>
			</dict>
		</array>
		<key>menu4</key>
		<array>
			<dict>
				<key>title</key>
				<string>통장/인감 사고신고</string>
				<key>controller</key>
				<string>SHBAccidentBankBookInfoViewController</string>
				<key>needsLogin</key>
				<string>2</string>
			</dict>
			<dict>
				<key>title</key>
				<string>현금/IC 카드 사고신고</string>
				<key>controller</key>
				<string>SHBAccidentCardInfoViewController</string>
				<key>needsLogin</key>
				<string>2</string>
			</dict>
			<dict>
				<key>title</key>
				<string>보안카드 사고신고</string>
				<key>controller</key>
				<string>SHBAccidentSecCardInfoViewController</string>
				<key>needsLogin</key>
				<string>2</string>
			</dict>
			<dict>
				<key>title</key>
				<string>OTP카드 사고신고</string>
				<key>controller</key>
				<string>SHBAccidentOTPInfoViewController</string>
				<key>needsLogin</key>
				<string>2</string>
			</dict>
			<dict>
				<key>title</key>
				<string>자기앞수표 사고신고</string>
				<key>controller</key>
				<string>SHBAccidentSelfCheckInputViewController</string>
				<key>needsLogin</key>
				<string>2</string>
			</dict>
			<dict>
				<key>title</key>
				<string>가계수표 사고신고</string>
				<key>controller</key>
				<string>SHBAccidentAncestryCheckInputViewController</string>
				<key>needsLogin</key>
				<string>2</string>
			</dict>
		</array>
		<key>menu5</key>
		<array>
			<dict>
				<key>title</key>
				<string>통장/인감 사고신고 조회</string>
				<key>controller</key>
				<string>SHBAccidentSearchBankBookViewController</string>
				<key>needsLogin</key>
				<string>1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>현금/IC카드 사고신고 조회</string>
				<key>controller</key>
				<string>SHBAccidentSearchCardViewController</string>
				<key>needsLogin</key>
				<string>1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>보안카드 사고신고 조회</string>
				<key>controller</key>
				<string>SHBAccidentSearchSecCardViewController</string>
				<key>needsLogin</key>
				<string>1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>OTP카드 사고신고 조회</string>
				<key>controller</key>
				<string>SHBAccidentSearchOTPViewController</string>
				<key>needsLogin</key>
				<string>1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>수표 사고신고 조회</string>
				<key>controller</key>
				<string>SHBCheckInputViewController</string>
				<key>needsLogin</key>
				<string></string>
			</dict>
		</array>
		<key>menu6</key>
		<array>
			<dict>
				<key>title</key>
				<string>월별 청구금액 조회</string>
				<key>controller</key>
				<string>SHBCardMonthDateInputViewController</string>
				<key>needsLogin</key>
				<string>2</string>
			</dict>
			<dict>
				<key>title</key>
				<string>결제 예정금액 조회</string>
				<key>controller</key>
				<string>SHBCardSchedulePaymentListViewController</string>
				<key>needsLogin</key>
				<string>2</string>
			</dict>
		</array>
		<key>menu7</key>
		<array>
			<dict>
				<key>title</key>
				<string>신한카드앱으로 인증서 복사</string>
				<key>controller</key>
				<string>SFG-SHC-smartcard://</string>
				<key>needsLogin</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>신한생명앱으로 인증서 복사</string>
				<key>controller</key>
				<string>SFG-SHL-slife://</string>
				<key>needsLogin</key>
				<string></string>
			</dict>
		</array>
		<key>menu8</key>
		<array>
			<dict>
				<key>title</key>
				<string>영업점/ATM 검색</string>
				<key>controller</key>
				<string>SHBFindBranchesLocationViewController</string>
				<key>needsLogin</key>
				<string></string>
			</dict>
		</array>
		<key>menu9</key>
		<array>
			<dict>
				<key>title</key>
				<string>자동이체 등록</string>
				<key>controller</key>
				<string>SHBAutoTransferAgreeViewController</string>
				<key>needsLogin</key>
				<string>2</string>
			</dict>
			<dict>
				<key>title</key>
				<string>자동이체 조회/변경/취소</string>
				<key>controller</key>
				<string>SHBAutoTransferInqueryViewController</string>
				<key>needsLogin</key>
				<string>2</string>
			</dict>
			<dict>
				<key>title</key>
				<string>자동이체 결과조회</string>
				<key>controller</key>
				<string>SHBAutoTransferResultInqueryViewController</string>
				<key>needsLogin</key>
				<string>2</string>
			</dict>
			<dict>
				<key>schemeURL</key>
				<string>smartfundcenter://</string>
				<key>title</key>
				<string>펀드 자동이체</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
			</dict>
		</array>
		<key>menu10</key>
		<array>
			<dict>
				<key>title</key>
				<string>이용자 비밀번호 등록</string>
				<key>controller</key>
				<string>SHBUserPWRegViewController</string>
				<key>needsLogin</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>OTP 시간보정</string>
				<key>controller</key>
				<string>SHBOTPReplaceInputViewController</string>
				<key>needsLogin</key>
				<string>1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>서비스 해지</string>
				<key>controller</key>
				<string>SHBCloseServiceViewController</string>
				<key>needsLogin</key>
				<string>2</string>
			</dict>
			<dict>
				<key>title</key>
				<string>이체한도감액</string>
				<key>controller</key>
				<string>SHBTransferLimitViewController</string>
				<key>needsLogin</key>
				<string>2</string>
			</dict>
		</array>
		<key>menu11</key>
		<array>
			<dict>
				<key>title</key>
				<string>예금/적금 해지</string>
				<key>controller</key>
				<string>SHBCloseProductInfoViewController</string>
				<key>needsLogin</key>
				<string>2</string>
			</dict>
			<dict>
				<key>title</key>
				<string>신한e-간편해지</string>
				<key>controller</key>
				<string>SHBEasyCloseInfoViewController</string>
				<key>needsLogin</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>해지현황조회</string>
				<key>controller</key>
				<string>SHBClosedProductStep_1ViewController</string>
				<key>needsLogin</key>
				<string>2</string>
			</dict>
		</array>
		<key>menu12</key>
		<array>
			<dict>
				<key>title</key>
				<string>동영상상품관</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
				<key>webAddress</key>
				<string>http://dev-m.shinhan.com/pages/financialInfo/Video/video_Prdt_list.jsp</string>
			</dict>
			<dict>
				<key>title</key>
				<string>예금</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
				<key>webAddress</key>
				<string>http://dev-m.shinhan.com/pages/financialPrdt/deposit/deposit_list.jsp</string>
			</dict>
			<dict>
				<key>title</key>
				<string>펀드</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
				<key>webAddress</key>
				<string>http://dev-m.shinhan.com/pages/financialPrdt/fund/fund_list.jsp</string>
			</dict>
			<dict>
				<key>title</key>
				<string>대출</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
				<key>webAddress</key>
				<string>http://dev-m.shinhan.com/pages/financialPrdt/loan/loan_list.jsp</string>
			</dict>
			<dict>
				<key>title</key>
				<string>외환</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
				<key>webAddress</key>
				<string>http://dev-m.shinhan.com/pages/financialPrdt/deposit/deposit_list2.jsp?CD_GRUP=013&amp;PROD_TYPE_CD=013_05</string>
			</dict>
			<dict>
				<key>title</key>
				<string>골드</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
				<key>webAddress</key>
				<string>http://dev-m.shinhan.com/pages/financialPrdt/gold/gold_list.jsp</string>
			</dict>
			<dict>
				<key>title</key>
				<string>신한카드</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
				<key>webAddress</key>
				<string>http://dev-m.shinhan.com/pages/financialPrdt/card/card_list.jsp</string>
			</dict>
			<dict>
				<key>title</key>
				<string>전자금융</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
				<key>webAddress</key>
				<string>http://dev-m.shinhan.com/pages/financialInfo/electronic_finance/list.jsp</string>
			</dict>
			<dict>
				<key>title</key>
				<string>My car 대출</string>
				<key>controller</key>
				<string></string>
				<key>needsLogin</key>
				<string></string>
				<key>depth2key</key>
				<string></string>
				<key>webAddress</key>
				<string>http://mycar.shinhan.com/mobile</string>
			</dict>
		</array>
		<key>menu13</key>
		<array>
			<dict>
				<key>title</key>
				<string>직장인 최적상품(무방문대출) 신청</string>
				<key>controller</key>
				<string>SHBLoanBizNoVisitViewController</string>
				<key>needsLogin</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>신청 조회 및 실행</string>
				<key>controller</key>
				<string>SHBLoanBizNoVisitApplyListViewController</string>
				<key>needsLogin</key>
				<string>2</string>
			</dict>
			<dict>
				<key>title</key>
				<string>직장인신용대출상품 목록</string>
				<key>controller</key>
				<string>SHBLoanBizNoVisitListViewController</string>
				<key>needsLogin</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>금리인하 요구권 안내</string>
				<key>controller</key>
				<string>SHBLoanInterestRateReductionViewController</string>
				<key>needsLogin</key>
				<string></string>
			</dict>
		</array>
		<key>menu14</key>
		<array>
			<dict>
				<key>title</key>
				<string>지방세</string>
				<key>controller</key>
				<string>SHBTaxQRCodeLocalTaxPaymentViewController</string>
				<key>needsLogin</key>
				<string>2</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
